* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(to right, #f4d161, #ebdcae);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
